<div class="jumbotron text-center"><h1 class="display-3">Appointments</h1></div>	
<div class="container-fluid py-5">
	<table class="table text-center">
		<thead class="thead-inverse">
			<tr >
				<th>Patient Name</th>
				<th>Doctor Name</th>
				<th>Reason For Visit</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form id="add_patient_doctor" action="/add_appointment" method="POST">
					<td>
						<select id="P_name" type="text" class="form-control" name="Patient_id" required>
							{{#each P_name}}
								<option value="{{this.Patient_id}}">{{this.P_name}}</option>
							{{/each}}
						</select>
					</td>
					<td>
						<select id="D_name" type="text" class="form-control" name="Doctor_id" required>
							{{#each D_name}}
								<option value="{{this.Doctor_id}}">{{this.D_name}}</option>
							{{/each}}
						</select>
					</td>
					<td><input type="text" class="form-control" name="Visit_reason"></td>
					<td><input type="date" class="form-control" name="Date"></td>
					<td><button class="btn btn-primary">Add Appointment</button></td>
				</form> 
			</tr>
		</tbody>
		<tbody id="patient-table">	
			{{#each appointment}}
				<tr>
						<td style="display:none;">{{this.App_id}}</td>
						<td style="display:none">{{this.Patient_id}}</td>
						<td>{{this.P_name}}</td>
						<td style="display:none">{{this.Doctor_id}}</td>
						<td>{{this.D_name}}</td>
						<td>{{this.Visit_reason}}</td>	
						<td>{{this.Date}}</td>				
						<td><button onclick="delete_appointment({{this.App_id}})" class="btn btn-danger">
						Delete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>


<script type="text/javascript">
	function delete_patient_doctor(app_id){

		$.ajax({
			url: '/delete_appointment/' + app_id,
			type: 'DELETE',
			success: function(){
				window.location.href = '/appointments';
			}
		});
	}
</script>