<div class="jumbotron text-center"><h1 class="display-3">Diagnoses</h1></div>	
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6 text-center">
			<form id="find_app_id" action="/find_appointment" method="post">
					<div class="input-group">
						    <input onkeyup="search_appointments(this.value)" type="text" class="form-control" name="P_name" 
						    placeholder="Search for an appointment by a patient or doctor's full name" required>
					</div>
			</form>
		</div>
		<div class="col-lg-3"></div>
	</div>

<div class="container-fluid py-5">
	<table class="table text-center">
		<thead class="thead-inverse">
			<tr>
				<th>Appointment ID</th>
				<th>Patient Name</th>
				<th>Doctor Name</th>
				<th>Appointment Date</th>
				<th>Diagnosis Description</th>
			</tr>
		</thead>
		<tbody id="search_results" class="pb-5">	
		</tbody>
		<tbody id="diagnosis-table">
			{{#each diagnosis}}
				<tr>
						<td style="display:none;">{{this.Diagnosis_id}}</td>
						<td>{{this.App_id}}</td>
						<td>{{this.P_name}}</td>
						<td>{{this.D_name}}</td>
						<td>{{this.Date}}</td>
						<td>{{this.Description}}</td>
						<td><button onclick="delete_diagnosis({{this.Diagnosis_id}})" class="btn btn-danger">Delete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>


<script type="text/javascript">
	function delete_diagnosis(id){
		$.ajax({
			url: '/delete_diagnosis/' + id,
			type: 'DELETE',
			success: function(){
				window.location.href = '/diagnoses';
			}
		});
	}

	$('#search_results').on('click', '#add_diagnosis', function(app_id){
		console.log(this.val());
		var data = $('#' + app_id)
		console.log(data);
		$.ajax({
			url: '/add_diagnosis',
			type: 'POST',
			data: data,
			success: function(){
				window.location.href = '/diagnoses';
			}
		});
	});

	function search_appointments(search){
		$.ajax({
			url: '/find_appointment/' + search,
			type: 'GET',
			success: function(data){
				$('#search_results').html(" ");
				data.forEach(function(element){
					$('#search_results').append(`
					<tr>
						<td>${element.App_id}</td>
						<td>${element.P_name}</td>
						<td>${element.D_name}</td>
						<td>${element.Date}</td>
						<td>
							<form action = "/add_diagnosis" method="POST">
								<textarea style = "display:inline" id="Description${element.App_id}
								"type="text" value ="${element.Description}" 
								class="form-control" name="Description" required></textarea>
								<input style = "display: none" name = "App_id" value="${element.App_id}">
								<button id="${element.App_id}" class="btn btn-primary">Add Diagnosis</button>
							</form>
						</td>
					</tr>
				`)
					$('#Description'+ element.App_id).attr('value', element.Description);

					if(element.Description !== null){
						$('#' + element.App_id).html('');
						$('#' +element.App_id).text('Update Diagnosis');
					}
				});
			}
		});
	}
</script>